<!doctype html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="scripts/styles.css">

  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">


  <div class="row">
    <div class="col-md-12"><span class="brand">yield.IO</span>
      <span>bond charts updated daily</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel bonds-history">
        <div class="panel-heading"><span class="history-duration-label">10 year</span> treasury bond yield history
          <div class="panel-body" id="yield-history-graph-panel">
            <canvas id="yield-history-graph-id" style="height: 150px; width: 800px;"></canvas>
          </div>
        </div>
        <div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Bond Duration
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" id="1m-duration">1 month</a>
              <a class="dropdown-item" href="#" id="3m-duration">3 month</a>
              <a class="dropdown-item" href="#" id="6m-duration">6 month</a>
              <a class="dropdown-item" href="#" id="12m-duration">1 year</a>
              <a class="dropdown-item" href="#" id="60m-duration">5 year</a>
              <a class="dropdown-item" href="#" id="84m-duration">7 year</a>
              <a class="dropdown-item" href="#" id="120m-duration">10 year</a>
              <a class="dropdown-item" href="#" id="240m-duration">20 year</a>
              <a class="dropdown-item" href="#" id="360m-duration">30 year</a>
            </div>
          </div>
          <button type="button" class="btn btn-success" id="start">Animate Yield Curve</button>
          <button type="button" class="btn btn-danger" style="display: none;" id="stop">Stop Animation</button>
        </div>

      </div><!--.bonds-history -->
    </div><!-- .contentBox -->
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8">
              <span class="the-number" id="yield-callout"></span><br>
              <span id="yield-callout-duration"></span> yield as of <span class="yield-curve-date"></span>
            </div>
            <div class="col-sm-4 callout">
              <div><span id="bps-callout"></span> bps</div>
              <div>% change: <span id="change-callout"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading" id="yieldcurvetitle">Treasury bond yields as of <span
          class="yield-curve-date"></span></div>
        <div class="panel-body">
          <table id="yield-curve-legend" class="table">
            <thead>
            <tr>
              <th>duration</th>
              <th>yield</th>
              <th>bps change</th>
              <th>% change</th>
            </tr>
            </thead>
            <tr>
              <td class="labeltext">1m</td>
              <td id="1-yield" class="neutral">N/A</td>
              <td id="1-bps" class="neutral">N/A</td>
              <td id="1-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">3m</td>
              <td id="3-yield" class="neutral">N/A</td>
              <td id="3-bps" class="neutral">N/A</td>
              <td id="3-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">6m</td>
              <td id="6-yield" class="neutral">N/A</td>
              <td id="6-bps" class="neutral">N/A</td>
              <td id="6-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">1y</td>
              <td id="12-yield" class="neutral">N/A</td>
              <td id="12-bps" class="neutral">N/A</td>
              <td id="12-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">2y</td>
              <td id="24-yield" class="neutral">N/A</td>
              <td id="24-bps" class="neutral">N/A</td>
              <td id="24-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">3y</td>
              <td id="36-yield" class="neutral">N/A</td>
              <td id="36-bps" class="neutral">N/A</td>
              <td id="36-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">5y</td>
              <td id="60-yield" class="neutral">N/A</td>
              <td id="60-bps" class="neutral">N/A</td>
              <td id="60-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">7y</td>
              <td id="84-yield" class="neutral">N/A</td>
              <td id="84-bps" class="neutral">N/A</td>
              <td id="84-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">10y</td>
              <td id="120-yield" class="neutral">N/A</td>
              <td id="120-bps" class="neutral">N/A</td>
              <td id="120-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">20y</td>
              <td id="240-yield" class="neutral">N/A</td>
              <td id="240-bps" class="neutral">N/A</td>
              <td id="240-change" class="neutral">N/A</td>
            </tr>
            <tr>
              <td class="labeltext">30y</td>
              <td id="360-yield" class="neutral">N/A</td>
              <td id="360-bps" class="neutral">N/A</td>
              <td id="360-change" class="neutral">N/A</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="panel">
        <div class="panel-heading">Treasury bond yields as of <span class="yield-curve-date"></span>
          <!--
          <p class="inflation-rate">Trailing 12 month inflation (CPI) ending <span id="inflation-rate-date"></span>: <span id="inflation-rate-value"></span></p>
          -->

        </div>
        <div class="panel-body" id="yield-curve-graph-panel">
          <canvas class="yield-curve-graph" id="yield-curve-graph-id"></canvas>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">Distribution of % change in <span class="history-duration-label">10 year</span>
          treasury bonds
        </div>
        <div class="panel-body" id="change-distribution-graph-panel">
          <canvas id="change-distribution-graph-id"></canvas>
        </div>
        <p class="scale-trigger"><input id="limitDurationsCheck" type="checkbox" checked="checked"> Limit to 95th
          percentile</p>
      </div>
    </div>
  </div>

</div>

<script src="scripts/main.bundle.js"></script>
</body>
</html>
